
body {
	font-size : 120%;
	font-family : Microsoft YaHei, SimHei, sans-serif;
}

button {
	font-size : 100%;
	font-family : Microsoft YaHei, SimHei, sans-serif;
	height : 50px;
	width : 130px;
}

input[type = "text"], input[type = "password"]
{
	font-size : 150%;
	font-family : Microsoft YaHei, SimHei, sans-serif;
	height : 40px;
}

select {
	width : 75%;
	font-size : 100%;
	font-family : Microsoft YaHei, SimHei, sans-serif;
}